<div class="app-container">
<!-- src/app/card/card.component.html -->
<div class="card">
  <div class="container flex">
    <div class="someone">
      <img src="https://cdn0.iconfinder.com/data/icons/famous-character-vol-2-colored/48/JD-09-512.png" alt="Profile Image">
      <div class="text">
        <h1>Raghavi Reddy</h1>
        <p>Front-End Developer</p>
      </div>
    </div>
  </div>
</div>
<!-- src/app/about/about.component.html -->
<section class="about">
  <div class="content">
    <div class="img">
      <img src="https://static.vecteezy.com/system/resources/previews/002/794/133/non_2x/young-woman-working-on-laptop-freelance-or-studying-concept-cute-trendy-illustration-in-flat-style-free-vector.jpg" alt="Working Late">
    </div>
    <div class="who">
      <h1>Who Am I????</h1>
      <p><p>Hello, I am <strong>Raghavi Reddy</strong>, a recent graduate from <strong>Mahindra University</strong> with a B.Tech in <strong>Electronics and Computer Engineering</strong>. I am currently interning at <strong>Accion Labs</strong> as a Front-End Developer in the vibrant city of <strong>Hyderabad</strong>, takin mentorship under <strong>Bhavani Shivarambotla.</strong> My journey in the tech world has been incredible, filled with hands-on experience in <strong>Front-End Development</strong> and <strong>Website Creation</strong>. Every day
      </p>
      <span><strong>Phone :</strong> 0123456789</span>
      <span></span>
      <span><strong>Email :</strong> sairaghavireddy&#64;gmail.com</span>
      <span></span>
      <span><strong>Address :</strong> Jyothi Pinnacle, Hitech City Rd, Laxmi Cyber City, Whitefields, KondapurTelangana 500081, INDIA.</span>
      <span></span>
      <span><strong>Intern :</strong> Available</span>
      <span></span>
    </div>
  </div>
</section>

</div>