<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Angular Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="./layout.component.css" />
</head>

<body>
  <!-- Side-Nav -->
  <div class="side-navbar active-nav d-flex flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
      <li class="nav-link mb-3">
        <a routerLink="/resume" class="text-light"><i class="bx bx-file"></i> Resume</a>
      </li>
      <li class="nav-link mb-3">
        <a routerLink="/home" class="text-light"><i class="ri-home-line"></i> Home</a>
      </li>
      <li class="nav-link mb-3">
        <a routerLink="/about-me" class="text-light"><i class="ri-user-line"></i> About Me</a>
      </li>
      <li class="nav-link mb-3">
        <a routerLink="/projects" class="text-light"><i class="ri-folder-line"></i> Projects</a>
      </li>
      <li class="nav-link mb-3">
        <a routerLink="/contact" class="text-light"><i class="ri-contacts-line"></i> Contact</a>
      </li>
      <li class="nav-link mt-auto">
       
        <button id="logout-btn" class="bx bx-log-out" (click)="logOut()"> Logout</button>
      </li>
    </ul>
  </div>

  <!-- Main Wrapper -->
  <div class="p-1 my-container active-cont">
    <!-- Top Nav -->
    <nav class="navbar top-navbar navbar-light bg-light px-5 d-flex align-items-center justify-content-between">
      <div class="menu-btn-container">
        <button class="btn border-0" id="menu-btn" (click)="toggleSidebar()"><i class="bx bx-menu"></i></button>
        <img src="https://image4.owler.com/logo/accion-labs_owler_20200326_162720_large.png" alt="Logo" class="logo">
      </div>
      <div class="nav-icons">
        <a href="/resume" class="text-dark"><i class="bx bx-file"></i></a>
        <a href="https://github.com/mraghavi/Accion-Angular-Basics-training" class="text-dark"><i class="bx bxl-github"></i></a>
        <a href="mailto:sairaghavireddy30@gmail.com" class="text-dark"><i class="bx bx-envelope"></i></a>
        <a href="https://www.linkedin.com/in/yourprofile" class="text-dark"><i class="bx bxl-linkedin"></i></a>
      </div>
    </nav>
    <!-- End Top Nav -->

    <div class="container flex-grow-1">
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer class="footer text-center py-3">
      © 2024 Accion Labs. All rights reserved.
    </footer>
  </div>
</body>
</html>
