<main>
  <h1>My Projects</h1>
  
  <section>
      <h2 data-number="1"><a routerLink="/structural-directives">Structural Directives</a> <small></small></h2>
      <h2 data-number="2"><a routerLink="/attribute-directives">Attribute Directives</a> <small></small></h2>
      <h2 data-number="3"><a routerLink="/reactive-form">Reactive Form</a> <small></small></h2>
      <h2 data-number="4"><a routerLink="/template-form">Template Form</a> <small></small></h2>
      <h2 data-number="5"><a routerLink="/one">Services in Angular</a> <small></small></h2>
      <h2 data-number="6"><a routerLink="/routes">Router in Angular</a> <small></small></h2>
      <h2 data-number="7"><a routerLink="/data-binding">Data Binding in Angular</a> <small></small></h2>
     
  </section>
</main>
