.directves {
    border: 1px solid #000;
    padding: 20px;
    width: 200px;
    text-align: center;   
    margin-bottom: 20px;
    color: rgb(10, 10, 10);
}
.btn-blue {
    background-color:green;
    color: black;
}
.btn-purple {
    background-color: blue;
    color: white;
}