<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Angular Learnings</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a routerLink ="one">One-Component</a></li>
      <li><a routerLink ="two">two-Component</a></li>
      <li><a routerLink ="data-binding">dataBinding-Component</a></li>
      <li><a routerLink ="structural-directives">srtucturalDirectives-Component</a></li>
      <li><a routerLink ="attribute-directives">attributeDirective-Component</a></li>
      <li><a routerLink ="reactive-form">ReactiveComponent</a></li>
      <li><a routerLink ="template-form">TemplateComponent</a></li>
      <li><a routerLink ="pipes">PipesComponent</a></li>
   
    </ul>
  </div>
</nav>
 
<div class="container">
 
</div>


</body>
</html>
<div class="container">
  <router-outlet></router-outlet>
</div>




