<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div class="container">
        <div class="welcome-section">
            <img src="https://image4.owler.com/logo/accion-labs_owler_20200326_162720_large.png" alt="Accion Logo" class="logo">
            <h1 class="welcome-large">Welcome to Angular Learnings with Accion Labs</h1>
        </div>
        
        <div class="login-section">
            <div class="login-container">
                <img src="https://image4.owler.com/logo/accion-labs_owler_20200326_162720_large.png" alt="Accion Logo" class="logo_login right-logo">
                <h2>My Account</h2>
                <form id="loginForm" action="#" method="post">
                    <div class="form-input-container">
                        <input type="text" [(ngModel)]="userObj.userName" name="userName" placeholder="Username" required class="form-input">
                    </div>
                    <div class="form-input-container">
                        <input type="password" [(ngModel)]="userObj.password" name="password" id="password" placeholder="Password" required class="form-input">
                        <button type="button" class="password-toggle-btn" id="toggleBtn" (click)="togglePassword()">Show</button>
                    </div>
                    <p-toast></p-toast>
                    <button type="button" (click)="onLogin()" id="loginButton" class="form-input form-button">Login</button>
                </form>
            </div>
        </div>
    </div>
    <footer>
        <span class="footer-text">&copy; Accion Training - Angular Learnings</span>
    </footer>
</body>
</html>
